@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Building Materials Platform</h1>
    <p>This platform is designed to manage building materials, their environmental characteristics, transportation factors, and more. Developed by Amani Barhoumi.</p>

    <h2>About the Project</h2>
    <p>
        The Building Materials Platform is designed to address the challenges of sustainability and responsible resource management in the construction industry.
        It provides a comprehensive database of construction materials, integrating detailed information about their physical, mechanical, and environmental characteristics.
        This platform aims to support informed decision-making, optimize costs, and promote the use of eco-friendly materials, contributing to sustainable development goals.
    </p>

    
    <div class="row g-3">
        <div class="col-md-4">
            <a class="btn btn-primary w-100" asp-controller="FacteurTransport" asp-action="Index">Manage Transport Factors</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary w-100" asp-controller="Materiau" asp-action="Index">Manage Materials</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary w-100" asp-controller="Famille" asp-action="Index">Manage Material Families</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary w-100" asp-controller="Provenance" asp-action="Index">Manage Provenances</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary w-100" asp-controller="Producteur" asp-action="Index">Manage Producers</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary w-100" asp-controller="Transport" asp-action="Index">Manage Transports</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary w-100" asp-controller="CaracteristiqueEnvironnementale" asp-action="Index">Manage Environmental Characteristics</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary w-100" asp-controller="MaterialType" asp-action="Index">Manage Material Types</a>
        </div>
    </div>
</div>
