@model building_materials.Models.Famille

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Famille</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomFamille)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomFamille)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.NomType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFamille">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
